<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:fragment="title">登录</title>
</head>
<body>
	<div th:fragment="content">
		<form name="loginForm" th:action="@{/login}" method="post">
			<fieldset>
				<legend>
					<span>请先登录</span>
					<span th:text="${#dates.format(new java.util.Date(),'yyyy-MM-dd HH:mm:ss')}"></span>
				</legend>
				<div th:if="${param.error}" class="alert alert-error">
					<label>用户名或密码错误</label>
				</div>
				<div th:if="${param.logout}" class="alert alert-success">
					<label>你已经注销了</label>
				</div>
				<div th:if="${param.expired}" class="alert alert-success">
					<label>你在其它地方已经登录了</label>
				</div>
				<div th:if="${param.invalidSession}" class="alert alert-success">
					<label>会话失效，请重新登录</label>
				</div>
				<label for="username">用户名</label>
				<input type="text" id="username" name="username"/>
				<label for="password">密码</label>
				<input type="password" id="password" name="password"/>
				<div class="form-actions">
					<button type="submit" class="btn">登录</button>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>